img.little {
    width: 380px;
    height: 250px;
}

.my-background {
    background-color: #101010;
}

.the-back {
    background-color: #1d1d1d;
}

.mar {
    margin-top: 20px;
    margin-bottom: 50px;
}

.my-btn {
    margin-bottom: 90px;
}